body {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    margin: 25px 0 0 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h2 {
    margin: 0;
    text-align: center;
}
.title {
    text-align: center;
    align-items: center;
}
.size {
    margin: 0;
    background-color: #e84545;
    color:#2b2e4a ;
    text-align: center;
    align-items: center;
    width: 500px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #2b2e4a;
}


#password {
    margin: 0;
    background-color: #903749;
    width: 379.31px;
    height: 90px;
    /* add word break for long password */
    word-break: break-all;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid #2b2e4a;
    color: #e84545;
  
}


#formMain {
    font-size: 20px;
    display:flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

#charNumb {
    width: 50px;
    display: flex;
    background-color: #903749;
    border: 2px solid #2b2e4a;
    color: #e84545;
    font-weight: bold;

}
label {
    padding: 15px;
}
.button {
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
#btn {
    margin-top: 15px;
    height: 25px;
    font-weight: bold;
    color: #e84545;
    background-color: #2b2e4a;
    border: 2px solid #2b2e4a;
    border-radius: 1rem;

}

#copy {
    margin-top: 15px;
    height: 25px;
    font-weight: bold;
    color: #e84545;
    background-color: #2b2e4a;
    border: 2px solid #2b2e4a;
   border-radius: 1rem;

}
#copy:hover {
    color: #2b2e4a;
    background-color: #e84545;
}

#level {
    margin-top: -15px;
    padding: 15px;
}

#btn:hover {
    color: #2b2e4a;
    background-color: #e84545;
}

